:root {
  --color-primary: #2a8da8;
  --color-secondary: #e8a01c;
  --color-tertiary: #504c24;
  --color-quaternary: #8fccda;
  --section-background-color-primary: #8fccda;
  --title1: #e8a01c;
  --title2: var(--color-primary);
  --info: #504c24;
  --border: #cfd7e1;
  --border2: var(--color-primary);
  --accent: #e8a01c;
  --accent2: #61415d;
  --overlay-color1: rgba(34, 110, 186, 0.4);
  --overlay-color2: rgb(31, 103, 177);
  --overlay-color3: rgb(7, 46, 89);
  --overlay-color4: rgba(16, 68, 122, 0.95);
  --overlay-color5: rgba(24, 85, 150, 0.8);
  --shadow-color1: rgba(100, 100, 111, 0.2);
}
