:root {
  --color-primary: #2a8da8;
  --color-secondary: #e8a01c;
  --color-tertiary: #504c24;
  --color-quaternary: #8fccda;
  --section-background-color-primary: #8fccda;
  --title1: #e8a01c;
  --title2: var(--color-primary);
  --info: #504c24;
  --border: #cfd7e1;
  --border2: var(--color-primary);
  --accent: #e8a01c;
  --accent2: #61415d;
  --accent3: #fafafa;

  --overlay1: #2a8da840;
  --overlay2: #8fccda40;

  --shadow-color1: rgba(100, 100, 111, 0.2);
}
